{% load static %}
<div class="row">
    <div class="col mx-auto text-center mt-3">
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse"
                role="button"
                data-target="#datasheet_div"
                aria-expanded="false"
                aria-controls="datasheet_div">
        DATASHEET COMPARISON (Show/Hide)
        </button>
        <div class="row collapse mt-3" id="datasheet_div">
            <div class="col ml-1 mr-1 card text-center">
                <table id = "table_1" class="table table-bordered mt-3" style="width:100%">
                    <thead>
                        <th colspan="2">
                            {{robot_1.title}}
                        </th>
                    </thead>
                    <tbody>
                        {% for attribute_group, attributes in robot_1.get_datasheet.items %}
                            <th colspan="2">
                                {{attribute_group}}
                            </th>
                            <tr>
                                <td><b>Attribute</b></td>
                                <td><b>Value </b></td>
                            </tr>
                            {% for data_key, data_value in attributes.items %}
                                <tr>
                                   <td> <b> {{data_key}} </b></td>
                                       <td> {{data_value}} </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col ml-1 mr-1 card text-center">
                <table id = "table_2" class="table table-bordered mt-3" style="width:100%">
                    <thead>
                        <th colspan="2">
                            {{robot_2.title}}
                        </th>
                    </thead>
                    <tbody>
                        {% for attribute_group, attributes in robot_2.get_datasheet.items %}
                            <th colspan="2">
                                {{attribute_group}}
                            </th>
                            <tr>
                                <td><b>Attribute</b></td>
                                <td><b>Value </b></td>
                            </tr>
                            {% for data_key, data_value in attributes.items %}
                                <tr>
                                   <td> <b> {{data_key}} </b></td>
                                   <td> {{data_value}} </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
var table_1_cols = [];
var table_2_cols = [];
// TABLE 1 CONSTRUCTION
$('#table_1 > tbody > tr ').each(function() {
    if ($(this).find('td').length > 1){
        table_1_cols.push($(this).find('td:last'))
    }

})
var table_1_cols = table_1_cols.filter(function(col) {
    if( col.html() != "<b>Value </b>"){
        return col;
    }
})
// TABLE 2 CONSTRUCTION
$('#table_2 > tbody > tr ').each(function() {
    if ($(this).find('td').length > 1){
        table_2_cols.push($(this).find('td:last'))
    }

})
var table_2_cols = table_2_cols.filter(function(col) {
    if( col.html() != "<b>Value </b>"){
        return col;
    }
})
console.log(table_1_cols);
table_1_cols.forEach((table_1_col, i) => {
    const table_2_col = table_2_cols[i];
    if ($.isNumeric(table_1_col.html()) && parseInt(table_1_col.html()) > parseInt(table_2_col.html())){
        table_1_col.css('color', 'green');
        table_2_col.css('color', 'red');
    }
    else {
        table_2_col.css('color', 'green');
        table_1_col.css('color', 'red');
    }
})
</script>